.DS_Store
ios/*.zip
ios/dist
ios/build
android/dist/*.zip
android/build/*
android/libs/
phobeous-build.properties
/android/android/java-sources.txt
/android/android/libs
/ios/Carthage
/ios/Cartfile.resolved
ios/imageview-ios.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
ios/imageview-ios.xcodeproj/project.xcworkspace/xcuserdata
ios/imageview-ios.xcodeproj/xcuserdata
